# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Hardhat & Solidity build artifacts
artifacts/
cache/
typechain/
coverage/
.env
.env.local
.env.*.local
*.tsbuildinfo

# Hardhat/Forge output (if you use Foundry too)
out/

# Hardhat log files
hardhat.log

whitelist.csv